/*----- Fonts einbindung -----*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto|Roboto+Slab');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

h1, h2 {
    font-family: 'Maiandra Gd ', serif;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

                    /*----- Styling Kopfberreich -----
                    ----------------------------------*/
.header-section {
    width: 100%;
    display: flex;
}

.heading {
    flex: 1 0 60%;
    text-align: center;
    order: 1;
}

.heading h1 {
    margin: 15px 0 5px; 
}

.heading p {
    margin: 0 0 15px;
}

.navigation {
    flex: 1 0 15%;
    order: 0;
}

.player-choose {
    flex: 1 0 15%;
    order: 1;
    height: 100%;
}

.player-choose p {
    margin: 5px 0;
}

.player-choose lable {
    display: flex;
}

                    /*----- Styling Navigation -----
                    --------------------------------*/
ul, li {
    margin: 0;
    padding: 0;
}

#navi li {
    -webkit-box-shadow: 0 5px 5px rgba(245, 245, 245, 0.75) inset;
    box-shadow: 0 5px 5px rgba(245, 245, 245, 0.75) inset;
  }
.menu_ueber {
    font-size: 1.2em;
}

#navi {
    padding: 1px;
}

#navi li {
	list-style: none;
    background-color: #43373F;
}

#navi a{
    text-decoration: none;
    display:flex;
    justify-content: center;
    padding: 1.5em 15% 0.75em;
    color: #fff;  
}

#navi  a:hover{
    color:#CE6634;
}

                    /*----- Hamburger Buttons normalerweise ausblenden -----*/

.toggle_menu {
    display: none;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

                  /*----- Styling Sozial Media footerbereich -----
                    ------------------------------------------------*/

.screen_reader_text {
    clip: rect(px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.social_menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.social_menu ul li {
    list-style: none;
    padding: 0 0.2rem;
}

.social_menu a{
    text-decoration: none;
    color: #02ccba;
}

.menu a{
    font-size: 25px;
    padding: 18px;
}

/*------ sozial Media Icons -----*/

.social_menu li a:before {
    font-family: "fontawesome";
    -webkit-font-smoothing: antialiased;
    content: '\fe08e'
}

.social_menu li a[href*="linkedin.com"]::before {
    content: '\f0e1';
}

.social_menu li a[href*="github.com"]::before {
    content: '\f09b';
}

.social_menu li a[href*="mailto"]::before {
    content: '\f0e0';
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 479px) {
    
                    /*----- Navigatinbereich -----*/
                    /*----- Button zum Anzeigen des Menü -----*/

    .js .toggle_menu {
        display: block;
        cursor: pointer;
        color: #fff;
        border-radius: 50%;
        background-color: #645360;
        width: 2.5em;
        height: 2.5em;
        margin: 10px auto;
        text-align: center;
        line-height: 2.5em;
        border: 1px solid #010101;
        font-weight: normal;
        
      }

    .js  #navi ul {
        display: none;
      }

    #navi ul.toggled_on {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
      }

    #navi ul.toggled_on li,  .no-js  #navi  li { 
        display: block;
      }
    
    [data-hamburger]:before { 
        content: attr(data-hamburger); 
        speak: none; 
        display: inline-block;
        font-size: 200%;
      }
    
    .screen_reader_text { 
        position: absolute; 
        top: -9999px; 
        left: -9999px; 
      }
}